.list{
    background-color: rgb(255, 255, 255);
    padding: 0 1em;
    width: 80%;
}
ul{
    display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  row-gap: 1em;
}

li{
    position: relative;
    margin: 1em 2em;
    width: 600px;
    box-shadow: 0 2px 7px rgba(0,0,0,0.25);
    border:none;
    list-style: none;
    transition: 300ms;
    margin:250px 0;
    display:flex;
    justify-content: center;
    align-content: flex-start;
    
    
}


.more-button{
    padding: 2em 1em;
    margin-top: 4em;
    margin-bottom: 2em;
    border: none;
    background-color: rgb(63, 58, 58);
    color:white;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}
.more-button:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0,0,0,0.35);
    background-color: rgb(88, 83, 83);
}