p {
  font-size: 16px;
}

/* .item-div{
    position: absolute;
    color: black;
    top:0;
    width: 600px; 
    box-shadow: 0 2px 7px rgba(0,0,0,0.25);
    transition: 300ms;
    cursor: pointer;
    
}
.item-div:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0,0,0,0.35);
} */

.extended-content {
  overflow: hidden;
  transition: max-height 0.6s ease;
  max-height: 0;
}
.extended-contentactive {
  overflow: hidden;
  transition: 1s;
}
